
.header-title {
	width: 100vw;
    border-bottom: 2px solid black;
	margin: 0 auto;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    display: flex;
}

.left {
    border-right: 2px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

#errorText {
    position: absolute;
	left: 45%;
	bottom: 50%;
    display: none;
}

.compiler-button {
    width: 50vw;
    height: 2.5vw;
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    transition: transform 0.05s ease, filter 0.1s ease, box-shadow 0.1s ease;
}


.compiler-button:hover {
    filter: brightness(1.1);
}

.compiler-button:active {
    transform: translateY(1px) scale(0.99);
    filter: brightness(0.8);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4);
}

.left-compiler-button,
.right-compiler-button {
    color: black;
}


.viewer {
    width: 90%;
    flex: 1;
    position: relative;
    margin-top: 20px;
}

#tree-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    overflow: auto;
    box-sizing: border-box;
	display: block;
}



#json {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    overflow: auto;
    box-sizing: border-box;
	display: none;
}

#tree-container {
    cursor: grab;
}

#tree-svg {
    width: 100%;
    height: 100%;
}

#tree-svg:active {
    cursor: grabbing;
}


.button-row {
    width: 90%;
    display: flex;
	margin-bottom: 20px;
}

#graphic-ast-button,
#json-tree-button {
    flex: 1;
    height: 40px;
}


#code {
    width: 90%;
	flex: 1;
	position: relative;
	margin-top: 20px;
}

#submit-button {
    width: 90%;
    height: 40px;
	margin-bottom: 20px;
}


